html, body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

/* Layout */
header {
  position: absolute;
  right: 0px;
  z-index: 9999;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.profile-form {
  width: 100%;
  padding: 120px;
  margin: auto;
  position: absolute;
  background-color: #ffffff;
  z-index: 9999;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  margin: auto;
  position: absolute;
  background-color: #ffffff;
  left: 460px;
  top: 120px;
  z-index: 9999;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.closebtn {
  right: 0px;
  position: absolute;
  top: 0px;
  background-color: white;
  border: none;
  font-size: 20px;
}
.profile-photo {
  width: 200px;
  margin: 25px;
  box-shadow: 0 2px 12px rgb(0 0 0 / 20%);
  border-radius: 4px;
}
.form-control {
  height:80px !important;
  margin-bottom: 10px;
}
.form-control-textarea {
  height:120px !important;
  width: 100% !important;
  margin-bottom: 10px;
  border: 1px #ced4da solid !important;
  border-radius: 5px !important;
}
.label-description {
  font-size: 13px;
  color: #818385;
}

/* Leaflet Style */
.leaflet-container {
  width: 100%;
  height: 100%;
}

.leaflet-container-profile {
  width: 100%;
  height: 60vh;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: #000000;
  color: #ffffff;
  border: 2px dashed #fff;
}
